<div class="post-count">
  <p class="menu">投稿</p>
  <p class="count"><%= user.posts.count %></p>
</div>
<div class="follower-count">
  <p class="menu">フォロワー</p>
  <p class="count"><%= user.followers.count %></p>
</div>
<div class="following-count">
  <p class="menu">フォロー中</p>
  <p class="count"><%= user.followings.count %></p>
</div>